@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Teko:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1F1517;
    color: #FFFFFF;
}

html {
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

nav {
    max-width: 1120px;
    min-width: 320px;
    margin: auto;
    padding: 24px 160px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    }

.logo {
    font-family: Teko, sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;

}

.menu {
    display: flex;
    gap: 24px;
    color: #FFF2E780;;
}

.github {
    color: #FFF2E7;
    font-weight: 600;
}

main {
    display: flex;
    flex-direction: column;
}

.section-figure {
    background: #181012 ;
}

.figure {

    max-width: 1120px;
    height: 60vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 96px;

    padding: 0 32px;
    margin: auto;

    overflow: clip;
}

.figure-conteudo {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.figure-imagens {
    max-width: 45%;
    column-count: 3;
    column-gap: 16px;
    margin: -16px;
    padding: 16px;

}

section  figure > img {
    width: 100%;
    border-radius: 8px;

}

.novidade {
    font-family: "Epilogue", sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #A45A49;

}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
}

hr {
    border-color: #A45A49;
}

.figure-subtitulo {
    color: #C7BAB3;
    font-family: Inter, sans serif;
    font-size: 24px;
    font-weight: 500;
}

.receitas {
    display: flex;
    flex-direction: column;


    max-width: 1120px;
    padding: 48px 32px;
    margin: auto;
    
}

.receitas-cabecalho {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}

.color {
    color: #A45A49 ;
}

.receitas-titulo {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #FFF2E7;
}

.receitas-subtitulo {
    color: #C7BAB3;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.receitas-card-container {
    padding: 0px 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;

}

.receitas-card {
    background: #241A1C;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex-basis: 464px;
    margin: 32px;
}

.receitas-card-cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    
}

.receita-card-cabecalho-detalhes {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.receitas-span {
    color: rgb(255, 166, 0);
}

.receitas-titulo {
    color: #fff2e7;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.receitas-avaliacao {
    color: rgb(183, 146, 77);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500px;
}

.receitas-descricao {
    color: #C7BAB3;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

footer  {
    padding: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    background: #23181A;

}

.footer-cop {
    color: #fff2e7;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;

}


.footer-autor {
    color: rgba(255, 242, 231, 0.50);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;

}